%html
  %head
    %title "Deal Dashboard"
    - Dir.glob("#{Rails.root}/public/javascripts/fluxx_engine/lib/*.js").map{|filename| filename.gsub("#{Rails.root}/public", '')}.each do |filename|
      =javascript_include_tag filename
    - Dir.glob("#{Rails.root}/public/javascripts/fluxx_engine/src/**/*.js").map{|filename| filename.gsub("#{Rails.root}/public", '')}.each do |filename|
      =javascript_include_tag filename
    
    =stylesheet_link_tag '/stylesheets/compiled/fluxx_engine/theme/default/style.css'
    =stylesheet_link_tag '/stylesheets/compiled/fluxx_crm/theme/default/style.css'
    :javascript
      $.extend(true, {
        fluxx: {
          config: {
            icon_path: '/fluxx_engine/theme/default/images/icons',
            realtime_updates: {
              enabled: true,
              options: {
                url: '/realtime_updates'
              }
            },
            dock: {
              quicklinks: [
                [
                  {
                    label: 'New Org',
                    url: '#{new_organization_path}',
                    className: 'new-detail',
                    type: 'green small'
                  },
                  {
                    label: 'New User',
                    url: '#{new_user_path}',
                    className: 'new-detail',
                    type: 'green small'
                  },
                  {
                    label: 'New Deal',
                    url: '#{new_deal_path}',
                    className: 'new-detail',
                    type: 'green small'
                  }
                ],
                [
                  {
                    label: 'PLUS',
                    url: '#',
                    className: 'noop',
                    type: 'plus small',
                    popup: [
                      '#{link_to 'Org', organizations_path, :class => 'new-listing'}',
                      '#{link_to 'User', users_path, :class => 'new-listing'}',
                      '#{link_to 'Deal', deals_path, :class => 'new-listing'}'
                    ]
                  }
                ]
              ]
            }
          }
        }
      });
      jQuery(function($){
        $('body').fluxxStage();
      });
  %body#fluxx
    Loading Dashboard
