%div= model.description
%div= model.estimated_amount
%div= model.final_amount
%div= model.probability
%div= model.main_contact
%div= model.decision_maker
%div= model.sales_lead
%div= model.state

= render :partial => "deal_organizations/list_deal_organizations", :locals => { :model => model}
= render :partial => "deal_users/list_deal_users", :locals => { :model => model}

= render :partial => "model_documents/list_model_documents", :locals => { :model => model}
= render :partial => "group_members/list_group_members", :locals => { :model => @model, :class_type => Organization.name}
= render :partial => "notes/list_notes", :locals => { :model => @model, :class_type => Organization.name}
= render :partial => "audits/list_audits", :locals => { :model => @model}